/* ### LAYOUT: ### */

@import '../imports/colors';

*, html, body {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: none;

  appearance: none;
  background: $white;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  position: relative;
}

body, html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;

  width: 100%;
}

div.layout {
  margin: 100px auto 0px auto;
  max-width: 500px;

  div {
    text-align: center;
  }

  p, a {
    font-size: 18px;
    line-height: 26px;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}
